.header h1
{
    background: darkgray;
    align-content: center;
    font-size: 30px;
    color:#000000;
    font-family: 'Bahnschrift', cursive;
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate
{
    from {
        color: blue;
    }
    30% {
        color: rgb(212, 45, 45);
    }
    35% {
        color: rgb(50, 212, 45);
    }
    50% {
        color: rgb(167, 212, 45);
    }
    55% {
        color: rgb(212, 45, 176);
    }
    70% {
        color: rgb(212, 181, 45);
    }
    75% {
        color: rgb(45, 187, 212);
    }
    90% {
        color: rgb(212, 45, 101);
    }
    95% {
        color: rgb(45, 212, 148);
    }
    100% {
        color: rgb(123, 45, 212);
    }
}

.left
{
    float: left;
}

.content
{
    margin-left: 150px;
}